<div class="flex justify-between"> 
    {/* 
      <a class="flex items-center" href={getHomePermalink()}>
        <Logo /> 
      </a> 
    */}
  
    {/* Insert the navbar code here */}
    <div class="w-96 h-16 px-24 bg-gradient-to-b from-white to-neutral-400 justify-center items-center gap-12 inline-flex">
      <div class="h-9 justify-start items-center gap-px flex">
        <div class="w-9 h-9 relative">
          <div class="w-9 h-8 left-[1.56px] top-[35.04px] absolute bg-black"></div> 
        </div>
        <div class="w-20 h-5 text-black text-3xl font-bold font-['Mina']">LEDEN</div>
      </div>
      <div class="grow shrink basis-0 h-10 justify-between items-center flex">
        <div class="justify-start items-center gap-12 flex">
          <div class="text-black text-xl font-normal font-['Roboto']">Solutions</div>
          <div class="text-black text-xl font-normal font-['Roboto']">About</div>
          <div class="text-black text-xl font-normal font-['Roboto']">Contact</div>
        </div>
        <div class="w-40 h-10 px-6 py-1.5 bg-black rounded-3xl justify-center items-center gap-2.5 flex">
          <div class="text-white text-xl font-normal font-['Roboto']">Join the beta</div>
        </div>
      </div>
    </div>
  
    <div class="flex items-center md:hidden">
      {/* ToggleMenu component here */}
    </div>
</div>